body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#game-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

#money {
    margin-bottom: 10px;
    font-size: 18px;
    color: #007bff;
}

#game-title {
    cursor: pointer;
    position: relative;
}

#game-title .cheat-code-hidden {
    position: absolute;
    left: 0;
    top: 0;
    color: transparent;
    pointer-events: none;
}

#game-title:hover .cheat-code-hidden {
    color: initial;
}

#cheat-menu {
    margin-top: 20px;
}

#cheat-menu label,
#cheat-menu input {
    margin-bottom: 10px;
    display: block;
}

#buttons-container button {
    padding: 12px 24px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

#buttons-container button:hover {
    background-color: #4CAF50; /* Cambia a tu color de fondo hover preferido */
    color: white; /* Cambia a tu color de texto hover preferido */
}

button.action-button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

button.action-button:hover {
    background-color: #0056b3;
}

#adjust-car-button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

#adjust-car-button:hover {
    background-color: #218838;
}

#click-box {
    padding: 20px;
    margin: 10px 0;
    cursor: pointer;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

#car-list {
    margin-top: 20px;
}

#car-list div {
    margin-bottom: 10px;
}

#car-list img {
    margin-right: 10px;
    vertical-align: middle;
}

#buttons-container {
    margin-top: 20px;
}
